.banner {
    position: relative;
    height: 80vh;
    margin-top: 10vh;
    margin-bottom: -20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;  
} 
.banner_contents {
    padding-left: 30px; 
    padding-top: 3cap;
}
.banner_title {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 0.3rem;
} 

.banner_description {
    font-size: 1.1rem;
    line-height: 1;
    max-width: 30em;
    height: 80px; 
    margin-top: 1rem;
    color: white;
    line-height: 1.5;
} 

.banner_buttons {
    margin-top: 1rem;
    
  } 
  
  .banner_button {
    cursor: pointer;
    color: white;
    background-color: rgba(51, 51, 51, 0.5);
    border: none;
    font-size: 1.2rem;
    font-weight: 700;
    border-radius: 0.2vw;
    padding: 1rem 3rem;
    margin-right: 2rem;
    transition: background-color 0.3s ease;
} 
#play { 
    color: #000; 
    background-color: #fff; 
}  

.banner_button:hover {
    height: 10vh;
    background-image: linear-gradient(
        180deg,
        transparent,
        rgb(37, 37, 0.91),
        #111
    );
}